
{% extends "app/base_site.html" %}
<!-- {% load static %} -->
{% block title %} Newsletters {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}


{% block content %}
  {% load humanize %}
  <div class="right_col" role="main">
    <h3>Ocean Best Practices System Newsletters</h3>
    <!-- top tiles -->
	  <div class="row">
        <div class="col-md-12">
          <div class="">
            <div class="x_content">
              <div class="row">
				        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="tile-stats">
                    <div class="icon"><i class="fa fa-book"></i>
                    </div>

                    <div class="count">{{ count_newsletter|intcomma }}</div>

                    <h3>Published newsletters</h3>
                    <p>Number of publications</p>
                  </div>
                <!-- </div> -->
			      </div>

			    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="tile-stats">
                    <div class="icon"><i class="fa fa-users"></i>
                    </div>
                    <div class="count">{{ total_subscribers|intcomma }}</div>

                    <h3>Subscribers</h3>
                    <p>Number of subscribers of the current subscribers list</p>
                  </div>
			    </div>
				<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="tile-stats">
                    <div class="icon"><i class="fa fa-flag"></i>
                    </div>
                    <div class="count">{{ count_countries|intcomma }}</div>

                    <h3>Countries</h3>
                    <p>Number of countries of origin for the current subscribers list</p>
                  </div>
				</div>
				<!-- <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="tile-stats">
                    <div class="icon"><i class="fa fa-navicon"></i>
                    </div>
                    <div class="count">{{ total_events_types_counts|intcomma }}</div>

                    <h3>Types</h3>
                    <p>of different activities </p>
                  </div>
				</div> -->
       </div>
		  </div>
	  </div>
	 <!-- </div> -->
	</div>
<div class="row">
 <!-- graph area -->
 <div class="col-md-6 col-sm-6 col-xs-12">
   <div class="x_panel">
     <div class="x_title">
       <h2>Subscribed readers <small>evolution on a monthly basis</small></h2>
       <div class="clearfix"></div>
     </div>
     <div class="x_content2">
       <div id="subscribed_line" style="width:100%; height:400px;"></div>
     </div>
   </div>
   </div>
    <!-- graph area -->
   <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Emails sent <small>on a monthly basis</small></h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content2">
          <div id="emails_sent_line" style="width:100%; height:400px;"></div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
   <!-- graph area -->
   <div class="col-md-6 col-sm-6 col-xs-12">
     <div class="x_panel">
       <div class="x_title">
         <h2>Unsubscribed readers and email bounces <small>evolution on a monthly basis</small></h2>
         <div class="clearfix"></div>
       </div>
       <div class="x_content2">
         <div id="bounces_line" style="width:100%; height:400px;"></div>
       </div>
     </div>
     </div>
      <!-- graph area -->
     <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Openings <small>evolution on a monthly basis</small></h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content2">
            <div id="opens_line" style="width:100%; height:400px;"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- graph area -->
   <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Clicks <small>evolution on a monthly basis</small></h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content2">
          <div id="clicks_line" style="width:100%; height:400px;"></div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Countries of origin of newsletter readers<small>geo-presentation for the current list of subscribers</small></h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="dashboard-widget-content">
            <div class="col-md-4 hidden-small">
              <h2 class="line_30">Top 10 countries</h2>

              <table class="countries_list">
                <tbody>
                  {% for idx, cc, country,  total in df_group_countries_top10.itertuples %}
                       <tr>
                         <td>{{ country }}</td>
                         <td class="fs15 fw700 text-right">{{ total }}</td>
                       </tr>
                   {% endfor %}
                </tbody>
              </table>
            </div>
            <div id="vmap" class="col-md-8 col-sm-12 col-xs-12" style="height:430px;"></div>
          </div>
        </div>
      </div>
     </div>
  </div>


<div class="row">

 <!-- /graph area -->
 <!-- countries of origin table -->
 <div class="col-md-12 col-sm-12 col-xs-12">
   <div class="x_panel">
     <div class="x_title">
       <h2>Latest 20 newsletters <small>published by OBPS</small></h2>
       <div class="clearfix"></div>
     </div>
     <div class="x_content">
<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
 <thead>
   <tr>
     <th>Date</th>
     <th>Name</th>
     <th>Type</th>
     <th>Publisher</th>
     <th>Country</th>
   </tr>
 </thead>
 <tbody>
   {% for idx, activity_name, country, date, event, publisher, type in publications_latest.itertuples %}
        <tr>
            <!-- <th><input type="checkbox" id="check-all" class="flat"></th> -->
            <td>{{ date }}</td>
            <td>{{ activity_name }}</td>
            <td>{{ type }}</td>
            <td>{{ publisher }}</td>
            <td>{{ country }}</td>

        </tr>
    {% endfor %}
 </tbody>
</table>
</div>
</div>
</div>

</div>
</div>
</div>


{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <!-- Chart.js -->
  <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
  <!-- gauge.js -->
  <script src="/static/vendors/gauge.js/dist/gauge.min.js"></script>
  <!-- Skycons -->
  <script src="/static/vendors/skycons/skycons.js"></script>
  <!-- Flot -->
  <script src="/static/vendors/Flot/jquery.flot.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.pie.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.time.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.stack.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.resize.js"></script>
  <!-- Flot plugins -->
  <script src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
  <script src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
  <script src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
  <!-- DateJS -->
  <script src="/static/vendors/DateJS/build/date.js"></script>
  <!-- JQVMap -->
  <script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
  <script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
  <script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>

  <!-- morris.js -->
  <script src="/static/vendors/raphael/raphael.min.js"></script>
  <script src="/static/vendors/morris.js/morris.min.js"></script>


  <script>
    new Morris.Line({
      // ID of the element in which to draw the chart.
      element: 'subscribed_line',
      // Chart data records -- each entry in this array corresponds to a point on
      // the chart.
      data: [
      {% for period, count in subscribed_counts %}
        { Date: '{{ period|date:"b-Y" }}', value1: '{{ count }}',

          },
      {% endfor %}
      ],
      // The name of the data record attribute that contains x-values.
      xkey: 'Date',
      // A list of names of data record attributes that contain y-values.
      ykeys: ['value1'],
      // Labels for the ykeys -- will be displayed when you hover over the
      // chart.
      labels: ['Subscribed readers'],
      parseTime: false,
      ymin: 'auto',
      ymax: 'auto',

    });
  </script>

  <script>
    new Morris.Line({
      // ID of the element in which to draw the chart.
      element: 'emails_sent_line',
      // Chart data records -- each entry in this array corresponds to a point on
      // the chart.
      data: [
      {% for period, count in emails_sent_timeseries %}
        { Date: '{{ period|date:"b-Y" }}', value1: '{{ count }}',

          },
      {% endfor %}
      ],
      // The name of the data record attribute that contains x-values.
      xkey: 'Date',
      // A list of names of data record attributes that contain y-values.
      ykeys: ['value1'],
      // Labels for the ykeys -- will be displayed when you hover over the
      // chart.
      labels: ['emails sent'],
      parseTime: false,
      ymin: 'auto',
      ymax: 'auto',

    });
  </script>

  <script>
    new Morris.Line({
      // ID of the element in which to draw the chart.
      element: 'bounces_line',
      // Chart data records -- each entry in this array corresponds to a point on
      // the chart.
      data: [
      {% for period, unsubscribed, hard, soft in bounces_timeseries %}
        { Date: '{{ period|date:"b-Y" }}', value1: '{{ unsubscribed }}', value2: '{{ hard }}', value3: '{{ soft }}',

          },
      {% endfor %}
      ],
      // The name of the data record attribute that contains x-values.
      xkey: 'Date',
      // A list of names of data record attributes that contain y-values.
      ykeys: ['value1','value2','value3'],
      // Labels for the ykeys -- will be displayed when you hover over the
      // chart.
      labels: ['unsubscribed readers', 'hard bounces', 'soft bounces'],
      parseTime: false,
      ymin: 'auto',
      ymax: 'auto',

    });
  </script>

  <script>
    new Morris.Line({
      // ID of the element in which to draw the chart.
      element: 'opens_line',
      // Chart data records -- each entry in this array corresponds to a point on
      // the chart.
      data: [
      {% for period, open_total, unique_open in opens_timeseries %}
        { Date: '{{ period|date:"b-Y" }}', value1: '{{ open_total }}', value2: '{{ unique_open }}',

          },
      {% endfor %}
      ],
      // The name of the data record attribute that contains x-values.
      xkey: 'Date',
      // A list of names of data record attributes that contain y-values.
      ykeys: ['value1', 'value2'],
      // Labels for the ykeys -- will be displayed when you hover over the
      // chart.
      labels: ['opens total', 'unique opens'],
      parseTime: false,
      ymin: 'auto',
      ymax: 'auto',

    });
  </script>

  <script>
    new Morris.Line({
      // ID of the element in which to draw the chart.
      element: 'clicks_line',
      // Chart data records -- each entry in this array corresponds to a point on
      // the chart.
      data: [
      {% for period, clicks_total, unique_clicks, unique_subscriber_clicks in clicks_timeseries %}
        { Date: '{{ period|date:"b-Y" }}', value1: '{{ clicks_total }}', value2: '{{ unique_clicks }}', value3: '{{ unique_subscriber_clicks }}',

          },
      {% endfor %}
      ],
      // The name of the data record attribute that contains x-values.
      xkey: 'Date',
      // A list of names of data record attributes that contain y-values.
      ykeys: ['value1', 'value2', 'value3'],
      // Labels for the ykeys -- will be displayed when you hover over the
      // chart.
      labels: ['clicks total', 'unique clicks', 'unique subscriber clicks'],
      parseTime: false,
      ymin: 'auto',
      ymax: 'auto',

    });
  </script>

  <script>
      // var test_data = {'es':1, 'gb':1};
      // console.log(test_data);

      var dum = "{{countries|safe}}";
      dum = dum.replace(/\su'/g, "'").replace(/{u'/g, "{'").replace(/'/g, '"');
      console.log(dum);
      var gdpData = JSON.parse(dum)

      var max = 0,
          min = Number.MAX_VALUE,
          cc,
          startColor = [244, 194, 194],
          endColor = [255, 3, 62],
          colors = {},
          hex;

      //find maximum and minimum values
      for (cc in gdpData)
      {
          if (parseFloat(gdpData[cc]) > max)
          {
              max = parseFloat(gdpData[cc]);
          }
          if (parseFloat(gdpData[cc]) < min)
          {
              min = parseFloat(gdpData[cc]);
          }
      }

      //set colors according to values of GDP
      for (cc in gdpData)
      {
          if (gdpData[cc] > 0)
          {
              colors[cc] = '#';
              for (var i = 0; i<3; i++)
              {
                  hex = Math.round(startColor[i]
                      + (endColor[i]
                      - startColor[i])
                      * (gdpData[cc] / (max - min))).toString(16);

                  if (hex.length == 1)
                  {
                      hex = '0'+hex;
                  }

                  colors[cc] += (hex.length == 1 ? '0' : '') + hex;
              }
          }
      }

      //initialize JQVMap
      jQuery('#vmap').vectorMap(
      {
          colors: colors,
          hoverOpacity: 0.7,
          hoverColor: false,
          borderWidth: 1,
          selectedColor: false,
      });
  </script>
{% endblock javascripts %}
