
{% extends "app/base_site.html" %}
<!-- {% load static %} -->
{% block title %} dspace metrics {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}


{% block content %}
  <div class="right_col" role="main">
    <h3>Ocean Best Practices System Real-Time Metrics from Google Analytics</h3>
    <!-- top tiles -->
	  <div class="row">
        <div class="col-md-12">
          <div class="">
            <div class="x_content">
              <div class="row">
				        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="tile-stats">
                    <div class="icon"><i class="fa fa-user-plus"></i>
                    </div>
                    <div class="count">{{ total_new_users }}</div>

                    <h3>New Users</h3>
                    <p>New users of OBPS during the last month</p>
                  </div>
                <!-- </div> -->
			      </div>

			    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="tile-stats">
                    <div class="icon"><i class="fa fa-users"></i>
                    </div>
                    <div class="count">{{ total_users }}</div>

                    <h3>Total Users</h3>
                    <p>Total users of OBPS during the last month</p>
                  </div>
			    </div>
				<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="tile-stats">
                    <div class="icon"><i class="fa fa-flag"></i>
                    </div>
                    <div class="count">{{ total_countries }}</div>

                    <h3>Countires of Origin</h3>
                    <p>Countries of origin from users for last month</p>
                  </div>
				</div>
				<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="tile-stats">
                    <div class="icon"><i class="fa fa-sign-in"></i>
                    </div>
                    <div class="count">{{ total_sessions }}</div>

                    <h3>Sessions</h3>
                    <p>Total number of sessions from users during last month</p>
                  </div>
				</div>
       </div>
		  </div>
	  </div>
	 <!-- </div> -->
	</div>
<div class="row">
 <!-- graph area -->
 <div class="col-md-6 col-sm-6 col-xs-12">
   <div class="x_panel">
     <div class="x_title">
       <h2>Last Month Trends <small>Sessions, new users and recurrent users</small></h2>
       <div class="clearfix"></div>
     </div>
     <div class="x_content2">
       <div id="test_line" style="width:100%; height:400px;"></div>
     </div>
   </div>
 </div>
 <!-- </div> -->
 <!-- /graph area -->
 <!-- graph area -->
<div class="col-md-6 col-sm-6 col-xs-12">
   <div class="x_panel">
     <div class="x_title">
       <h2>Historical Trends <small>Recurrent users and Countries</small></h2>
       <div class="clearfix"></div>
     </div>
     <div class="x_content2">
       <div id="users_countries" style="width:100%; height:400px;"></div>
     </div>
   </div>
 </div>
 <!-- countries of origin table -->
 <div class="col-md-6 col-sm-6 col-xs-12">
   <div class="x_panel">
     <div class="x_title">
       <h2>Top 10 Countries <small>visiting OBPS during last 30 days</small></h2>
       <div class="clearfix"></div>
     </div>
     <div class="x_content">
<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
 <thead>
   <tr>
     <!-- <th></th> -->
     <th>Country</th>
     <th>Users</th>
     <th>Sessions</th>

   </tr>
 </thead>
 <tbody>
   {% for idx, country, user, session in countries_df.itertuples %}
        <tr>
            <!-- <th><input type="checkbox" id="check-all" class="flat"></th> -->
            <td>{{ country }}</td>
            <td>{{ user }}</td>
            <td>{{ session }}</td>

        </tr>
    {% endfor %}
 </tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>



<!-- <div class="clearfix"></div>
 <div class="row">-->
   <!-- donut chart samples per station -->
   <!--<div class="col-md-6 col-sm-6 col-xs-12">
     <div class="x_panel">
       <div class="x_title">
         <h2>Recurrent Users vs New Users <small>Number of recurrent users vs new users visiting OBPS during last 7 days</small></h2>
         <div class="clearfix"></div>
       </div>
       <div class="x_content">
         <div id="users_vs_new" style="width:100%; height:280px;"></div>
       </div>
     </div>
   </div> -->



{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <!-- Chart.js -->
  <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
  <!-- gauge.js -->
  <script src="/static/vendors/gauge.js/dist/gauge.min.js"></script>
  <!-- Skycons -->
  <script src="/static/vendors/skycons/skycons.js"></script>
  <!-- Flot -->
  <script src="/static/vendors/Flot/jquery.flot.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.pie.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.time.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.stack.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.resize.js"></script>
  <!-- Flot plugins -->
  <script src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
  <script src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
  <script src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
  <!-- DateJS -->
  <script src="/static/vendors/DateJS/build/date.js"></script>
  <!-- JQVMap -->
  <script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
  <script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
  <script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
  <!-- morris.js -->
  <script src="/static/vendors/raphael/raphael.min.js"></script>
  <script src="/static/vendors/morris.js/morris.min.js"></script>


  <!-- <script>
  new Morris.Bar({
  // ID of the element in which to draw the chart.
  element: 'users_vs_new',
  // Chart data records -- each entry in this array corresponds to a point on
  // the chart.
  data: [
    { station: 'New Users', value: {{ total_new_users }} },
    { station: 'Recurrent Users', value: {{ total_users }} },
  ],
  // The name of the data record attribute that contains x-values.
  xkey: 'station',
  // A list of names of data record attributes that contain y-values.
  ykeys: ['value'],
  // Labels for the ykeys -- will be displayed when you hover over the
  // chart.
  labels: ['users'],
  xLabelsDiagonal: false,
  xLabelMargin: 10,
  });
  </script> -->

  <script>
  new Morris.Donut({
  // ID of the element in which to draw the chart.
  element: 'users_vs_new',
  // Chart data records
  data: [
    { label: 'New Users', value: {{ total_new_users }} },
    { label: 'Recurrent Users', value: {{ total_users }} - {{ total_new_users }} },
  ],
  });
  </script>

  <script>
    new Morris.Line({
      // ID of the element in which to draw the chart.
      element: 'test_line',
      // Chart data records -- each entry in this array corresponds to a point on
      // the chart.
      data: [
      { Date: '{{ dates.4 }}', value: {{ total_users5 }}, value1: {{ total_new_users5 }}, value2: {{ total_sessions5 }} },
      { Date: '{{ dates.3 }}', value: {{ total_users4 }}, value1: {{ total_new_users4 }}, value2: {{ total_sessions4 }} },
      { Date: '{{ dates.2 }}', value: {{ total_users3 }}, value1: {{ total_new_users3 }}, value2: {{ total_sessions3 }} },
      { Date: '{{ dates.1 }}', value: {{ total_users2 }}, value1: {{ total_new_users2 }}, value2: {{ total_sessions2 }} },
      { Date: '{{ dates.0 }}', value: {{ total_users1 }}, value1: {{ total_new_users1 }}, value2: {{ total_sessions1 }} },
      // { Date: '{{ dates.5 }}', value: {{ total_users6 }}-{{ total_new_users6 }}, value1: {{ total_new_users6 }}, value2: {{ total_sessions6 }} }
      // { Date: '{{ dates.6 }}', value: {{ total_users7 }}-{{ total_new_users7 }}, value1: {{ total_new_users7 }}, value2: {{ total_sessions7 }} }

      ],
      // The name of the data record attribute that contains x-values.
      xkey: 'Date',
      // A list of names of data record attributes that contain y-values.
      ykeys: ['value', 'value1', 'value2'],
      // Labels for the ykeys -- will be displayed when you hover over the
      // chart.
      labels: ['Total Users', 'New Users', 'Sessions'],
      parseTime: false
    });
  </script>

  <script>
    new Morris.Line({
      // ID of the element in which to draw the chart.
      element: 'users_countries',
      // Chart data records -- each entry in this array corresponds to a point on
      // the chart.
      data: [
      { Date: '{{ dates.4 }}', value: {{ total_countries5 }} },
      { Date: '{{ dates.3 }}', value: {{ total_countries4 }} },
      { Date: '{{ dates.2 }}', value: {{ total_countries3 }} },
      { Date: '{{ dates.1 }}', value: {{ total_countries2 }} },
      { Date: '{{ dates.0 }}', value: {{ total_countries1 }} },
      ],
      // The name of the data record attribute that contains x-values.
      xkey: 'Date',
      // A list of names of data record attributes that contain y-values.
      ykeys: ['value'],
      // Labels for the ykeys -- will be displayed when you hover over the
      // chart.
      labels: ['Countries'],
      parseTime: false
    });
  </script>

{% endblock javascripts %}
